/* Home.css */
.home {
    height: 100vh; /* Make sure the container takes up the full viewport height */
    background-image: url('../../public/images/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  